body {
  max-width: 800px;
  padding: 1em;
  line-height: 1.7em;
  margin: auto;
  background-color: rgb(253,245,230);; /* 背景は白 */
  color: #222222;           /* 文字は黒に近い色 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1E2022;
    color: #DDDDDD;
  }
  a {
    color: #9A9A9B;
  }
}

h1:before {
  content: '# '
}

h2:before {
  content: '## '
}
h3:before {
  content: '### '
}

h4:before {
  content: '#### '
}

li {
    list-style: none;
    text-indent:-.75em
}

li:before {
  content: '- '
}

dt {
  list-style: none;
  text-indent:0.75em
}

dt:before {
  content: '- '
}

span.menu:before{
  content: '/'
}

span.img{
  display: block;
  text-align: center;
}

input[type=text]:focus {
  background-color: lightblue;
}
input[type=text] {
  border: 1.0px solid black;
  border-radius: 4px;
}


.hit-name {
  margin-bottom: 0.1em;
}

.hit-comment {

  margin-bottom: 0.1em;
}

.hit-content {
  margin-bottom: 0.1em;
}

.ais-InfiniteHits-list {
  list-style-type: none;
  padding-left: 0em;
}

.ais-InfiniteHits-item {
  padding-bottom: 0.5em;
}

li.ais-InfiniteHits-item:before {
  content: "";
}

li.ais-InfiniteHits-item {
  text-indent:0em
}

.ais-RefinementList-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0em;
}

.ais-RefinementList-item {
   padding-left: 0.5em;
}

li.ais-RefinementList-item:before {
  content: "";
}

span.ais-RefinementList-count::before {
content: "(";
}

span.ais-RefinementList-count::after {
content: ")";
}

li.ais-RefinementList-item {
  text-indent:0em
}