{{ define "main" }}
<h1>{{ .Title }}</h1>
{{- partial "search.html" . -}}
<time datetime="{{.Date.Format "2006-01-02"}}" id="single_page_date">
  {{.Date.Format "2006-01-02"}}&ensp;({{ index $.Site.Data "jweekday" (.Date.Format "Monday")}})
</time>
|
{{ if .Params.tags }}
  Tags:
  {{ with .Params.tags }}
  {{ range . }}
  {{ $href := print (absURL "tags/") (urlize .) }}
  <span>
    <a href="{{ $href }}">{{ . }}</a>
  </span>
  {{ end }}
  {{ end }}
{{ end }}
|
{{ if .Params.n年日記 }}
  {{ with .Params.n年日記 }}
  {{ range . }}
  {{ $href := print (absURL "n年日記/") (urlize .) }}
  <span>
    <a href="{{ $href }}">n年日記</a>
  </span>
  {{ end }}
  {{ end }}
{{ end }}
{{ .Content }}
{{- partial "singlepage_pagenation" . -}}
{{ template "_internal/disqus.html" . }}
{{ end }}
