<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script>
hotkeys('n,p', function (event, handler){
  switch (handler.key) {
    case 'n': document.getElementById('next-post-link').click()
      break;
    case 'p': document.getElementById('previous-post-link').click()
  }
});
</script>
<div id="pagination">
    {{with .Prev}}
        <a href="{{.Permalink }}" id="previous-post-link">
            <span>Prev</span>
        </a>
    {{end}}
    &ensp;
    {{with .Next}}
        <a href="{{.Permalink}}" id="next-post-link">
            <span>Next</span>
        </a>
    {{end}}
<!-- Comments by Cusdis -->
<h4>Comments:</h4>
<div id="cusdis_thread" data-host="http://192.168.0.104:3131"
  data-app-id="f67bb482-7d12-4ee2-bea0-a3f8692b7b76"
  data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"></div>
<script async defer src="http://192.168.0.104:3131/js/cusdis.es.js"></script>
</div>