{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
            <time>{{ .Date.Format "Mon. January 2, 2006" }}</time>
        {{- end -}}
            
                <div id ="filename">
                    <a href="{{.Site.Params.file_specific_in_github}}/{{- .File.LogicalName -}}">
                        {{- .File.LogicalName -}}
                    </a>
                </div>
            
        {{- range .Params.tags -}}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
{{- partial "singlepage_pagenation" . -}}
{{ end }}
