

{{ define "main" }}
{{ if eq .Title "Tags"}}
    <h3>{{.Title}}</h3>
    <ul id="posts">
        {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="{{ "/tags/" | relURL }}{{ .Name | urlize }}">{{ .Name }}({{ .Count }})</a></li>
        {{ end }}
    </ul>
{{ else if eq .Title "Archives"}}
<h3>{{.Title}}</h3>
<ul id="posts">
    {{ range .Site.Taxonomies.archives }}
    <li><a href="{{ "/archives/" | relURL }}{{ .Name | urlize }}">{{ .Name }}({{ .Count }})</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}


